<a href="https://colab.research.google.com/github/gnrochabr/ALGESTDADOS_20251/blob/main/Semana_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 - Listas
#a) Crie uma lista com os nomes de 5 frutas.
frutas = ['Kiwi','Banana','Manga','Uva','Laranja']
print('a)',frutas)

#b) Adicione uma fruta ao final da lista.
frutas.append('Jaca')
print('b)',frutas)

#c) Remova a segunda fruta da lista.
frutas.remove(frutas[1])
print('c)',frutas)

#d) Mostre apenas os 3 primeiros itens da lista.
print('d)',frutas[:3])

#e) Ordene a lista em ordem alfabética.
frutas.sort()
print('e)',frutas)

a) ['Kiwi', 'Banana', 'Manga', 'Uva', 'Laranja']
b) ['Kiwi', 'Banana', 'Manga', 'Uva', 'Laranja', 'Jaca']
c) ['Kiwi', 'Manga', 'Uva', 'Laranja', 'Jaca']
d) ['Kiwi', 'Manga', 'Uva']
e) ['Jaca', 'Kiwi', 'Laranja', 'Manga', 'Uva']

In [ ]:
#2 - Tuplas
#a) Crie uma tupla com 4 números inteiros.
numeros = (1,2,3,4)
print('a) ',type(numeros),numeros)

#b) Mostre o maior valor da tupla.
print('b) ',max(numeros))

#c) Transforme a tupla em lista e adicione um novo número.
numeros_lista = list(numeros) #Casting para lista
numeros_lista.append(5) #adiciono o novo valor
print('c) ',type(numeros_lista),numeros_lista)

#d) Converta novamente em tupla.
numeros = tuple(numeros_lista) #Casting para tupla
print('d) ',type(numeros),numeros)

a)  <class 'tuple'> (1, 2, 3, 4)
b)  4
c)  <class 'list'> [1, 2, 3, 4, 5]
d)  <class 'tuple'> (1, 2, 3, 4, 5)

In [ ]:
#3 - Conjuntos (set)

#a) Crie dois conjuntos com nomes de cidades. Alguns nomes devem se repetir.
conjuntoA = {'Nova Venécia', 'Jaguaré', 'São Mateus', 'Vila Valério'}
conjuntoB = {'Ecoporanga', 'Vila Pavão', 'Pinheiros', 'Nova Venécia'}
print('a)\n',conjuntoA,'\n',conjuntoB)

#b) Mostre a união dos conjuntos.
print('\nb)\n',conjuntoA.union(conjuntoB))

#c) Mostre a interseção dos conjuntos.
print('\nc)\n',conjuntoA.intersection(conjuntoB))

#d) Adicione uma nova cidade ao primeiro conjunto.
conjuntoA.add('Boa Esperança')
print('\nd)\n',conjuntoA)

a)
 {'Vila Valério', 'Jaguaré', 'Nova Venécia', 'São Mateus'}
 {'Pinheiros', 'Nova Venécia', 'Vila Pavão', 'Ecoporanga'}

b)
 {'Pinheiros', 'Nova Venécia', 'Jaguaré', 'São Mateus', 'Ecoporanga', 'Vila Valério', 'Vila Pavão'}

c)
 {'Nova Venécia'}

d)
 {'Nova Venécia', 'Jaguaré', 'Boa Esperança', 'São Mateus', 'Vila Valério'}

In [ ]:
# 4 - Dicionários
# a) Crie um dicionário com informações de um aluno: nome, idade, curso.
aluno = {
    'Nome':'Fulaninho de Mauá',
    'Idade': 18,
    'Curso': 'Engenharia Civil'
}
print('\na)',type(aluno),'\n',aluno)

# b) Adicione uma chave chamada "nota_final" com valor 8.5.
aluno['Nota_Final'] = 8.5
print('\nb)',type(aluno),'\n',aluno)

# c) Modifique a idade do aluno para 21.
aluno['Idade'] = 21
print('\nc)',type(aluno),'\n',aluno)

# d) Remova a chave “curso” do dicionário.
#del aluno['Curso']
aluno.pop('Curso')
print('\nd)',type(aluno),'\n',aluno)

# e) Mostre todas as chaves e valores.
print('\ne)')
for chave, valor in aluno.items():
  print(chave,':',valor)

a) <class 'dict'>
 {'Nome': 'Fulaninho de Mauá', 'Idade': 18, 'Curso': 'Engenharia Civil'}

b) <class 'dict'>
 {'Nome': 'Fulaninho de Mauá', 'Idade': 18, 'Curso': 'Engenharia Civil', 'Nota_Final': 8.5}

c) <class 'dict'>
 {'Nome': 'Fulaninho de Mauá', 'Idade': 21, 'Curso': 'Engenharia Civil', 'Nota_Final': 8.5}

d) <class 'dict'>
 {'Nome': 'Fulaninho de Mauá', 'Idade': 21, 'Nota_Final': 8.5}

e)
Nome : Fulaninho de Mauá
Idade : 21
Nota_Final : 8.5

In [ ]:
# 5 - Leitura e escrita em arquivos .txt
# a) Crie um arquivo chamado notas.txt e escreva o nome de 3 alunos e suas notas. Cada linha deve conter:
# Aluno: João - Nota: 7.5
# Aluno: Ana - Nota: 9.0
# Aluno: Carla - Nota: 6.8
with open('notas.txt','w',encoding='utf-8') as notas:
  notas.write('Aluno: João - Nota: 7.5\n')
  notas.write('Aluno: Ana - Nota: 9.0\n')
  notas.write('Aluno: Carla - Nota: 6.8')

with open('notas.txt','r',encoding='utf-8') as lendo_notas:
  print('a)\n',lendo_notas.read())

# b) Acrescente mais um aluno ao final do arquivo.
with open('notas.txt','a',encoding='utf-8') as notas:
  notas.write('\nAluno: Josué - Nota: 8.5')

with open('notas.txt','r',encoding='utf-8') as lendo_notas:
  print('\nb)\n',lendo_notas.read())

# c) Leia e exiba todas as linhas do arquivo.
with open('notas.txt','r',encoding='utf-8') as lendo_notas:
  linhas = lendo_notas.readlines()
  print('\nc)')
  for l in linhas:
    print(l.strip())

# d) Conte quantas linhas há no arquivo.
  print('\nd)',len(linhas))

# e) Mostre apenas os nomes dos alunos.
with open('notas.txt','r',encoding='utf-8') as lendo_notas:
  linhas = lendo_notas.readlines()
  print('\nc)')
  for l in linhas:
    print(l.split('-')[0].replace('Aluno :','').strip())

a)
 Aluno: João - Nota: 7.5
Aluno: Ana - Nota: 9.0
Aluno: Carla - Nota: 6.8

b)
 Aluno: João - Nota: 7.5
Aluno: Ana - Nota: 9.0
Aluno: Carla - Nota: 6.8
Aluno: Josué - Nota: 8.5

c)
Aluno: João - Nota: 7.5
Aluno: Ana - Nota: 9.0
Aluno: Carla - Nota: 6.8
Aluno: Josué - Nota: 8.5

d) 4

c)
Aluno: João
Aluno: Ana
Aluno: Carla
Aluno: Josué